body{

}
.response{
    width: 50%;
    height: auto;
}

.parallax {
    background-image: url("./assets/images/rtyuuio.png");
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }

  .card {
   
    margin:  auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-top: 40px;
}
